@page "/"
@* IMPORTANT! Main page must use InteractiveServer mode to make sure you connect to the server at startup to use circuits. *@
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Example></Example>
